body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  color: #434455;
}
.link {
  text-decoration: none;
}
.highlighted {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.54px;
  line-height: 21px;
  text-transform: uppercase;
}
.studio {
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.backstudio {
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.last-title {
  color: #f4f4fd;
}

.page-footer {
  background-color: #2e2f42;
}
.navigation-list {
  list-style: none;
}
.navigation-list li {
  margin: 10px 0;
}
.navigation-list li a {
  font-weight: 500;
  color: #2e2f42;
  text-decoration: none;
}
.navigation-list li a:hover {
  color: #404bbf;
}

.navigation-list li a:active {
  color: #404bbf;
}

.info-list {
  margin: 10px 0;
  font-weight: 400;
  color: #434455;
  text-decoration: none;
}
.list {
  list-style-type: none;
  padding: 0;
}
.list li {
  margin-bottom: 8px;
}
.list li a {
  color: #434455;
  text-decoration: none;
}

.list li a:hover {
  color: #404bbf;
}
.list li a:active {
  color: #404bbf;
}
.page-title {
  color: #fff;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.12px;
}
:root {
  --main-color: #fff;
}

.button {
  background-color: #4d5ae5;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  color: var(--main-color);
  border: none;
}
.button:hover {
  color: #fff;
  background-color: #404bbf;
}
.container {
  background-color: #2e2f42;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: #2e2f42;
}
.team {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0, 72px;
  text-transform: capitalize;
}
.portfolio {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0, 72px;
  text-transform: capitalize;
}
.section-title {
  background-color: #f4f4fd;
}
